* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
  font-family: 'Cormorant', serif;
}

.App {
  background: #f5f5f5;
  min-height: 100vh;
  color: rgb(0, 0, 0);
}

.navbar {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 10vh;
  background: #ffffff;
  width: 100%;
  z-index: 1;
}

.nav {
  display: flex;
  justify-content: right;
  list-style: none;
  margin-right: 15%;
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 1px;
}

.logo {
  flex: 1 1 auto;
  margin-left: 10%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 35px;
}

a {
  margin: 15px;
  color: rgb(54, 54, 54);
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  color: rgb(117, 117, 117);
}

.home-section,
.about-section,
.projects-section,
.contact-section,
.skills-section {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: rgb(26, 26, 26);
  color: white;
  overflow: hidden;
}

.home-section h1{
  font-size: 4vw;
}

.home-section-images{
  display: flex;
  bottom: 0%;
  position: absolute;
}

.home-section-images img{
  width:10vw;
  height: auto;
}

.projects-content{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.projects-section {
  height: 160vh;
}

.projects-section p{
  font-size:2vw;
}

.text-part {
  width: 100%;
  padding: 9vh 20vw 3.1vh 20vw;
}

.picture-part {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

h1 {
  padding: 3.1vh 0vw;
  font-size: 6vw;
}

p {
  padding: 3.1vh 0 0 0;
  font-size: 3vw;
  line-height: 5vh;
}

img {
  height: 40vw;
  padding: 0;
}

hr {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: medium double rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-align: center;
}



@media only screen and (min-width: 700px) {
  .picture-part {
    width: 100%;
    display: list-item;
    padding: 3.1vh 20vw 3.1vh 20vw;
  }
  .projects-content{
    display: flex;
    justify-content: space-between;
  }
  img {
    height: 40vh;
    padding: 0 3.1vh 0 0;
  }
  .projects-section h5 {
    font-size: 2vw;
    padding: 1vh 0 1vh 0;
  }
  .projects-section p{
    font-size:1.6vw;
  }
  .home-section-images img{
    width:10vw;
    height: auto;
  }
}

@media only screen and (min-width: 1000px) {
  .navbar {
    display: flex;
  }
  .home-section-images img{
    width:4.5vw;
    height: auto;
  }
  p {
    font-size: 1.5vw;
    padding: 1vh 0 1vh 0;
  }
  h1 {
    font-size: 3vw;
  }
  .picture-part {
    width: 100%;
    display: list-item;
    padding: 3.1vh 20vw 3.1vh 20vw;
  }
  .projects-content{
    display: flex;
    justify-content: space-between;
  }
  .projects-section h5 {
    font-size: 1.5vw;
    padding: 1vh 0 1vh 0;
  }
  .projects-section p {
    font-size: 1vw;
    padding: 1vh 0 1vh 0;
  }
  .projects-section img {
    height: 40vh;
    padding: 0 1vh 1vh 0;
  }
}


